<!DOCTYPE html>
<html lang="en">

<body>

    <main class="col-auto">
        {{{body}}}
    </main>

    <footer class="d-grid gap-2 col-4 mx-auto">
        <a id="new-post" href="/dashboard/new">New Post</a>
    </footer>
</body>


<script src="/javascript/logout.js"></script>

</html>