<form class="login-form">
    <div>
        <h2 class="text-centered">Login</h2>
        <label for="username-login">Username</label>
        <input type="text" class="form-control" id="username-login" aria-describedby="emailHelp"
            placeholder="Enter username">
    </div>
    <div class="login-form">
        <label for="password-login">Password</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
    <div>
        <a type="button" href="/signup">Sign up instead</a>
    </div>
</form>

<script src="/javascript/login.js"></script>