<form>
    <div class="login-form">
        <label for="username-login">Username</label>
        <input type="password-login" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp"
            placeholder="Enter username">
    </div>
    <div class="login-form">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-success">Login</button>
</form>

<script src="/javascript/login.js"></script>