<div class="card text-center">
    <div class="card-header">
        <h2>Create a Post</h2>
    </div>
    <div class="card-body">
        <form id="new-form">
            <div class="mb-3">
                <label for="post-title" class="form-label">Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="mb-3">
                <label for="post-body" class="form-label">Content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <a class="btn btn-success">Create</a>
        </form>
    </div>

    <script src="/javascript/new-post.js"></script>