<form class="signup-form">
    <div>
        <h2 class="text-centered">Sign Up</h2>
        <div>
            <label for="username-signup">username:</label>
            <input type="text" class="form-control" id="username-signup" aria-describedby="emailHelp"
                placeholder="Enter username">
        </div class="login-form">
        <div>
            <label for="password-signup">password:</label>
            <input type="password" class="form-control" id="password-signup" placeholder="Password">

        </div>
        <div>
            <button type="submit" class="btn btn-success">Signup</button>
            <div>
                <a href="/login">Login instead</a>
            </div>
        </div>
</form>

<script src="/javascript/signup.js"></script>