<form class="signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" aria-describedby="usernameHelp" placeholder="Enter username">
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" placeholder="Password">
    </div>
    <div>
        <button type="submit">Signup</button>
    </div>
</form>

<script src="/javascript/signup.js"></script>